openapi: 3.2.0
info:
  title: Particle Products API
  version: 1.0.0
  description: 'Operations tagged Products across 2 of this provider''s published API definitions: particle-cloud-api-openapi.yml, particle-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.particle.io
  description: Particle Cloud API
tags:
- name: Products
paths:
  /v1/user/products:
    get:
      summary: List products
      operationId: listProducts
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: List products the currently authenticated user has access to
      security:
      - bearerAuth: []
    servers:
    - url: https://api.particle.io
      description: Particle Cloud API
  /v1/products/{productIdOrSlug}:
    get:
      summary: Retrieve a product
      operationId: GetProduct
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Retrieve details for a product.
      parameters:
      - name: productIdOrSlug
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    servers:
    - url: https://api.particle.io
      description: Particle Cloud API
  /v1/products/{productIdOrSlug}/team:
    get:
      summary: List team members
      operationId: listUsersForProductOrOrg
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: List all team members that are part of a given product. Also, will retrieve all API users for all the products inside the org
      parameters:
      - name: productIdOrSlug
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    post:
      summary: Create an API user
      operationId: createProgrammaticUser
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Create an API user with specified scopes. This API user will have a single non-expiring access token.
      parameters:
      - name: productIdOrSlug
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    servers:
    - url: https://api.particle.io
      description: Particle Cloud API
  /v1/products/{productIdOrSlug}/team/{username}:
    post:
      summary: Update team member
      operationId: updateProductOrOrgTeamMember
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Update a current team member.
      parameters:
      - name: productIdOrSlug
        in: path
        required: true
        schema:
          type: string
      - name: username
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    delete:
      summary: Remove team member
      operationId: removeTeamMember
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Remove a current team member.
      parameters:
      - name: productIdOrSlug
        in: path
        required: true
        schema:
          type: string
      - name: username
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    servers:
    - url: https://api.particle.io
      description: Particle Cloud API
  /v1/products/{productIdOrSlug}/team/{username}/token:
    put:
      summary: Regenerate programmatic user's token
      operationId: regenerateProductOrOrgProgrammaticUserToken
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Regenerate programmatic users token
      parameters:
      - name: productIdOrSlug
        in: path
        required: true
        schema:
          type: string
      - name: username
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    servers:
    - url: https://api.particle.io
      description: Particle Cloud API
  /v1/products/{productIdOrSlug}/devices:
    get:
      summary: List devices in a product fleet
      parameters:
      - in: path
        name: productIdOrSlug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of product devices.
      tags:
      - Products
      security:
      - BearerAuth: []
    post:
      summary: Import devices into a product
      parameters:
      - in: path
        name: productIdOrSlug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Devices imported.
      tags:
      - Products
      security:
      - BearerAuth: []
    servers:
    - url: https://api.particle.io
      description: Particle Cloud production
  /v1/products/{productIdOrSlug}/devices/{deviceId}:
    get:
      summary: Get a product device
      parameters:
      - in: path
        name: productIdOrSlug
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product device details.
      tags:
      - Products
      security:
      - BearerAuth: []
    delete:
      summary: Remove a device from a product
      parameters:
      - in: path
        name: productIdOrSlug
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Device removed.
      tags:
      - Products
      security:
      - BearerAuth: []
    servers:
    - url: https://api.particle.io
      description: Particle Cloud production
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token. Obtain via POST /oauth/token.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
      description: 'Pass `Authorization: Bearer {access_token}`. Tokens are issued via

        `POST /oauth/token`.

        '
externalDocs:
  description: Particle Cloud API Reference
  url: https://docs.particle.io/reference/cloud-apis/api/
x-refined-from:
- particle-cloud-api-openapi.yml
- particle-openapi.yml
