openapi: 3.0.3
info:
  title: Particle Cloud Authentication API
  description: The Particle Cloud REST API enables developers to interact with Particle-connected devices — calling device functions, reading variables, publishing and subscribing to events, managing SIM cards, performing OTA firmware updates, and administering product fleets. All requests use OAuth 2.0 bearer tokens and target https://api.particle.io.
  version: 1.0.0
  contact:
    name: Particle Developer Support
    url: https://docs.particle.io/reference/cloud-apis/api/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.particle.io
  description: Particle Cloud API
security:
- bearerAuth: []
tags:
- name: Authentication
paths:
  /v1/access_tokens/{token}:
    delete:
      summary: Delete an access token
      operationId: DeleteAccessToken
      tags:
      - Authentication
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Delete your unused or lost tokens.
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
  /v1/access_tokens:
    delete:
      summary: Delete all active access tokens
      operationId: DeleteActiveAccessTokens
      tags:
      - Authentication
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Delete all your active access tokens.
  /v1/access_tokens/current:
    delete:
      summary: Delete current access token
      operationId: DeleteCurrentAccessToken
      tags:
      - Authentication
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Delete your currently used token.
    get:
      summary: Get the current access token information
      operationId: GetCurrentAccessToken
      tags:
      - Authentication
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Get your currently used token.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token. Obtain via POST /oauth/token.
externalDocs:
  description: Particle Cloud API Reference
  url: https://docs.particle.io/reference/cloud-apis/api/
