openapi: 3.2.0
info:
  title: Particle User API
  version: 1.0.0
  description: 'Operations tagged User across 2 of this provider''s published API definitions: particle-cloud-api-openapi.yml, particle-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.particle.io
  description: Particle Cloud API
tags:
- name: User
paths:
  /v1/user:
    get:
      summary: Get user
      operationId: GetUser
      tags:
      - User
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Return the user resource for the currently authenticated user.
      security:
      - bearerAuth: []
    put:
      summary: Delete user
      operationId: deleteUser
      tags:
      - User
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Delete the logged-in user. Allows removing user account and artifacts from Particle system
      security:
      - bearerAuth: []
    delete:
      summary: Delete the current user account
      responses:
        '200':
          description: User deleted.
      tags:
      - User
      security:
      - bearerAuth: []
    servers:
    - url: https://api.particle.io
      description: Particle Cloud API
  /v1/user/password-reset:
    post:
      summary: Forgot password
      operationId: UserPasswordForgot
      tags:
      - User
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: 'Create a new password reset token and send the user an email with the token. This endpoint is rate-limited to prevent abuse. Note: This endpoint does not require an access token.'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.particle.io
      description: Particle Cloud API
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token. Obtain via POST /oauth/token.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
      description: 'Pass `Authorization: Bearer {access_token}`. Tokens are issued via

        `POST /oauth/token`.

        '
externalDocs:
  description: Particle Cloud API Reference
  url: https://docs.particle.io/reference/cloud-apis/api/
x-refined-from:
- particle-cloud-api-openapi.yml
- particle-openapi.yml
