openapi: 3.0.3
info:
  title: Particle Cloud Authentication Search API
  description: The Particle Cloud REST API enables developers to interact with Particle-connected devices — calling device functions, reading variables, publishing and subscribing to events, managing SIM cards, performing OTA firmware updates, and administering product fleets. All requests use OAuth 2.0 bearer tokens and target https://api.particle.io.
  version: 1.0.0
  contact:
    name: Particle Developer Support
    url: https://docs.particle.io/reference/cloud-apis/api/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.particle.io
  description: Particle Cloud API
security:
- bearerAuth: []
tags:
- name: Search
paths:
  /v1/orgs/{orgIdOrSlug}/search:
    get:
      summary: Search your organization
      operationId: searchOrg
      tags:
      - Search
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Search your organization for devices, products, and SIMs. Returns at most 10 results per type.
      parameters:
      - name: orgIdOrSlug
        in: path
        required: true
        schema:
          type: string
  /v1/user/search:
    get:
      summary: Search your Sandbox
      operationId: searchSandbox
      tags:
      - Search
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Search your Sandbox for devices, products, and SIMs. Returns at most 10 results per type.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token. Obtain via POST /oauth/token.
externalDocs:
  description: Particle Cloud API Reference
  url: https://docs.particle.io/reference/cloud-apis/api/
