openapi: 3.0.3
info:
  title: Particle Cloud Authentication Secrets API
  description: The Particle Cloud REST API enables developers to interact with Particle-connected devices — calling device functions, reading variables, publishing and subscribing to events, managing SIM cards, performing OTA firmware updates, and administering product fleets. All requests use OAuth 2.0 bearer tokens and target https://api.particle.io.
  version: 1.0.0
  contact:
    name: Particle Developer Support
    url: https://docs.particle.io/reference/cloud-apis/api/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.particle.io
  description: Particle Cloud API
security:
- bearerAuth: []
tags:
- name: Secrets
paths:
  /v1/secrets:
    get:
      summary: List cloud secrets
      operationId: listSecrets
      tags:
      - Secrets
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: List cloud secrets in the Sandbox or organization
    post:
      summary: Create a cloud secret
      operationId: createSecret
      tags:
      - Secrets
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Create a cloud secret in the Sandbox or organization. The name of the secret must be unique within the Sandbox or organization.
  /v1/secrets/{secretName}:
    get:
      summary: Get cloud secret by name
      operationId: getSecrets
      tags:
      - Secrets
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Get details of a cloud secret in the Sandbox or organization
      parameters:
      - name: secretName
        in: path
        required: true
        schema:
          type: string
    put:
      summary: Create or Update the value of a cloud secret
      operationId: putSecret
      tags:
      - Secrets
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Creates or Updates the value of a cloud secret in the Sandbox or organization.
      parameters:
      - name: secretName
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete a cloud secret
      operationId: deleteSecret
      tags:
      - Secrets
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      description: Delete a cloud secret in the Sandbox or organization. The secret must not be used by any integrations or Logic Functions. Remove the secret from all integrations and Logic Functions before deleting it.
      parameters:
      - name: secretName
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token. Obtain via POST /oauth/token.
externalDocs:
  description: Particle Cloud API Reference
  url: https://docs.particle.io/reference/cloud-apis/api/
